#new_note_frame, #reply_frame {
    border: 1px solid rgba(200, 200, 200, 25%);
    background-color: none;
    border-radius: 3px;
}        

#new_note_placeholder, #reply_placeholder {
    color: rgba(200, 200, 200, 50%);
}
